R/.Rhistory
R/.RData
presentation.html
*.Rout
JS/manyboxplots.js
JS/lod_and_effect.js
Figs/manyboxplots.png
Figs/manyboxplots_oldschool.png
Figs/manyboxplots_oldschoolB.png
Data/insulin_eqtl.json
Data/probe_data
JS/cistrans.js
Data/*.json
JS/density.js
JS/lod_alltimes.js
JS/lod_onetime.js
JS/lod_onetime_random.js
JS/pheno.js
JS/plotframe.js
JS/scatterplot.js
